@import "../Variables/variables";

*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 1.05rem;
   font-family: "Public Sans", sans-serif;
   font-weight: 300;
}

header {
   background: white;
   box-shadow: 0 .5px 5px gray;
   padding: 0 5vw;
   height: 11vh;
   max-height: 100px;
   min-height: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 10;

   .logo {
      cursor: pointer;
   }

   nav {

      ul {
         display: flex;
         margin-bottom: .1rem;
      }
   
      li {
         list-style: none;
         margin: 0 1.5rem;
      }
   
      a {
         color: $Grayish-Blue;
         text-decoration: none;
         font-weight: 600;
   
         &:focus {
            color: inherit;
            border-bottom: 4px solid;
            
            &:hover {
               color: initial;
               cursor: default;
               padding: 0;
            }
         }
   
         &:hover {
            color: $Bright-Cyan;
            border-bottom: 4px solid;
            padding-bottom: 1.8rem;
         }
      }
   }

   .mobile-navigation {
      display: none;
   }
}

h1, h2, h3 {
   color: $Dark-Blue;
   font-weight: 300;
}

p {
   color: $Grayish-Blue;
   font-size: 1.125rem;
}

.request-cta {
   background: linear-gradient(90deg, $Lime-Green, $Bright-Cyan);
   color: white;
   padding: .9em 2em;
   border: none;
   border-radius: 40px;
   font-weight: 700;
   font-size: 1.03rem;
   cursor: pointer;

   &:active {
      opacity: .9;
      transform: scale(.97);
   }

   &:hover {
      opacity: .65;
   }
}
